.component-button {
    background-color: #E0E0E0;
    display: inline-flex;
    width: 10%;
    /*flex: 1 0 auto;*/
}

.component-button.wide {
    background-color: #E0E0E0;
    width: 10%;
}

.component-button button {
    border: 1px;
    font-size: 100px;
    margin: 1px 1px 1px 1px;
    /*flex: 1 0 auto;*/
    padding: 1px 1px 1px 1px;
}

.component-button:last-child button {
    background-color: #E0E0E0;
    margin-right: 0;
}

.component-button.orange button {
    background-color: #F5923E;
    color: white;
}
