.component-button-panel {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 0;
    /*border-radius: 4px;*/
    /*border: 10px;*/
    /*border-color: #000000;*/
    /*border: 1px;*/
    /*margin: 1%;*/
    padding: 5%;
    margin: 0 0 0 0;
}

.component-button-panel > div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    grid-column-gap: 0;
    grid-row-gap: 0;
    /*border: 1px;*/
    margin: 0 0 0 0;
    /*padding: 1%;*/
}

.component-button {
    /*background-color: #E0E0E0;*/
    font-size: 150px;
    margin: 0 0 0 0;
    /*border-radius: 4px;*/
    /*border: 10px;*/
    /*border-color: #000000;*/
    /*border: 1px;*/
    /*margin: 1%;*/
    /*padding: 1%;*/
}

.component-button button {
    /*background-color: #E0E0E0;*/
    font-size: 150px;
    margin: 0 0 0 0;
    /*border: 1px;*/
    /*margin: 1%;*/
    /*padding: 1%;*/
}

.box {
    /*background-color: #444;*/
    font-size: 150px;
    color: #FFFFFF;
    border-radius: 4px;
    /*border: 10px;*/
    /*border-color: #000000;*/
    margin: 0 0 0 0;
    /*padding: 5%;*/
    width: 350px;
    height: 200px;
    /*max-width: 100%;*/
    /*max-height: 100%;*/
    background-repeat: no-repeat;
    background-size: contain;
    grid-column-gap: 0;
    grid-row-gap: 0;
    grid-gap: 0;
}

.one {
    background-image: url('https://jwk3vg.bn.files.1drv.com/y4m0kD0T-MCzDR4MDBNyYf_rbY4_AfyJZeKMTH7GYTpYC0ic9ygFPsq0ykjFJdOyMJMEXB0IaYts6TqfvIpV0995BTOIL7hNGE0OG15jjC_WyxWL25PWUnvvgJdEmWk0zfb7OtI-316Xx-ZxwodFzaCCigN2m3_7a4dXwEAKhp23zdLxAsZa53VA8OjPaFvsGzq6u4b-H7B1nSRxk3oTMfODw?width=1050&height=700&cropmode=none');
    grid-column: 1;
    grid-row: 1;
}

.two {
    background-image: url("https://nmxpuw.bn.files.1drv.com/y4muHxxwjJqCrt3K7M5uPM-V_QOeo5zkoCwhVMVV-roNjPWFBCqqjTMtSTuniVKW5HqwmPa1HgK9IqzeLXVE58oxub92-2Hu6GaEU1hnjjl7-Os11TRSqN3E5kFr0IXOUow8RNp6C3lorgQ7JJ2YAvvHMiXNcFpvhJDDyskZYPJ1Co89d0_IJ41U146JOF6QUowLRFHIu1j3c_xAVGQlInykA?width=1050&height=700&cropmode=none");
    grid-column: 2;
    grid-row: 1;
}

.three {
    background-image: url("https://kndepq.bn.files.1drv.com/y4mZvSEgYzfj9ilM9cTZIx_KaaoofSzULCYgsD8Yiy-n2_VdIJiHs_2KrAYWjB08F2AQDYOOkpkSiDaZvTIuo3dq1YGXXrPB69_Csj0k6BcQYsnk63F3rgh2V9N5q7yhixHWcIzZkN9iplxt_Lj4SRHStf4tFurfHaJh3jd0nquEQthZqLhrzJfA9xs64TVcjAecvgBE_Bwt9czc9t1YgMlGw?width=1050&height=700&cropmode=none");
    grid-column: 3;
    grid-row: 1;
}

.four {
    background-image: url("https://zqfzaw.bn.files.1drv.com/y4mqdyAtpkOTEyhw0cuxjyDreCloXfR0SzA4WANQmi-J9gJ0tODeYgDD5jvbtyraboA6u01HoUf6An5qh2XILz9SCmG5rrbxcp28-JaOawnJenewQuVf7hqENt4AkAOdwBjw9tZ4AxJewbUGD7Aqcy1HbJG9wMsHD6myARaBp4HfCE8eRTWEgIbfkLfR0moCQ3asac1JNgz30pFe1l3kHmONQ?width=1244&height=700&cropmode=none");
    grid-column: 4;
    grid-row: 1;
}

.five {
    background-image: url("https://zqfyaw.bn.files.1drv.com/y4mUl1FfiA6Bn2oCZXoR_j1pakKxNBgcAga7Tw7WOwZabQL6pqBikhic1eZltdDqVWcGvHtrb_WMcQe6Wbdbsgnl6UiGtDRtupKB7mZ2bJk3q65sVshVhJHjwlDKJA1ejeBvc6C_XxepbUF0Wm_mQwTDCH9sICZWElhhEtztDRhRgYAN5CpSJQnz7420Sdq8R7sOqj-YH1X_tiVU9tMd_ckvQ?width=1050&height=700&cropmode=none");
    grid-column: 1;
    grid-row: 2;
}

.six {
    background-image: url("https://ahyzdg.bn.files.1drv.com/y4mfZJIpNiFoi9XtLhkloLoTPLjqau8frsUszEd4gHy7slmkp-0rJgkW2s9LpA571hmU8TR2Ff1wqRZAmQMCJnqADcX0qVFV4cdhqV5zHOoPBs1zCAutoAFWTmv_U3BHgcmDpHEsTA60jXXpfZpoAi6auHoyJ4ll0OaMyqZVTkAwWLN_m7BXJsVtpUeLNzIwgALhZcMqpJGk-milTuArGFc1w?width=1050&height=700&cropmode=none");
    grid-column: 2;
    grid-row: 2;
}

.seven {
    background-image: url("https://ojeh3g.bn.files.1drv.com/y4mApMHidFvVIWX0SIj7VQfJ-n8bDZ1c_lm5meBE2cggcl44JeXwHmwdBZQ-yB5O5L0uCiftUJJbN3KDyDC3atBmQaejgz8h98wGrWQlckgsSeHCM8-I3yia0NVmNt9c5H2Sto6Y3uOA_A3nkxFMEmRV3DyRer7jss0n6-dXsl7IK1Nsf_5DtKJ3c1XiuT4XRr6GBJK_gL_iACy84PFOGGO9g?width=1050&height=700&cropmode=none");
    grid-column: 3;
    grid-row: 2;
}

.eight {
    background-image: url("https://b8pfow.bn.files.1drv.com/y4mxzD9YjZwKCm726Ec7-4kZvXZ8_DXoMXqCETu7aQAVPu5L3q6EPe-YLRrBVITaW-XQS6NA3ALLdRNf1WHZ0ZuhiUri-Mts8Wm65chQxF9Vyi3KL2pzOUbzjVWNa37E4qlXrPGQSpdRJ6Lh6mTM3Oaoxr7l-9LQawXV11003APedauJb4-LVJgoMWTodrq7cmh0_MdhT6vhsevMj6lo7ru7A?width=951&height=700&cropmode=none");
    grid-column: 4;
    grid-row: 2;
}

.nine {
    background-image: url("https://jwlavg.bn.files.1drv.com/y4m3-FS4HgKbNQj9tDFJ5ouJcRWCPndQUULdPPPYgnGXVE06C625kjsxenjeERNVayh527VkFC2b_F8u9yvjTM35SwT-3WRejkggT6Pb6s4LclKWyJC-cnsbE1h0qa6hsyA5_TvREBZUb0vFagtVkgJoaNK7H64tDZxaKVN527i2PDxkqfjgs8GqUu-Z1Me6IutVL02tGpDI31_Zp3kSJ6-UQ?width=1057&height=700&cropmode=none");
    grid-column: 1;
    grid-row: 3;
}

.ten {
    background-image: url("https://nmxouw.bn.files.1drv.com/y4myKXC4eXkvXMRcCJcjddesG0k-zpUfayETn4cuyGxpSt3NdDKRc4JCalY9b1TPU86KrEt77iOphj1DNB77fPuihkgXkSyVvglN8o6JElOtfd0AAh-9BwDfTLQ5jy0mQziQ7gXGhMZc7G8fwMFRXiNY6GYHuWZNaBq40Eth2Uo32PgywX6B1ocCKaT05q-IZ1iPBMklSzB1omKsXrWAioApQ?width=1050&height=700&cropmode=none");
    grid-column: 2;
    grid-row: 3;
}

.eleven {
    background-image: url("https://be43mq.bn.files.1drv.com/y4myYHlllpYZRUozUqDwxcAE_0VhEnKp-NYcdkUI0RiTd7E_kC_jHJ4ancI3Uj8NkT118lZFK9QxzBzYud0QuPLC0dBvI5WzYHx2rbOn_ivj9Ay4TzS7ZA1E5sOvzNKSaqzA-uIRZiIw8qol5lvCt6B5RxkaQBD0UXcNbcaNZGJ8SBDWLaXHLoTYc7YHmqYHfLaHwXKsSG6N_PEXZZzauAcrQ?width=1050&height=700&cropmode=none");
    grid-column: 3;
    grid-row: 3;
}

.twelve {
    background-image: url("https://be44mq.bn.files.1drv.com/y4mfjB_Yl8ffCmGWXJjqKZDfZiivQh0ISUnWN2pAbDwep9kDDsym3UWPD94SEnjpv_uSgEKwdr6zgeyUrZXvHmudJeSpk0gi10rDC2Ci-FGrZzImqki20GoVT4bXklGf70rQD8VvBTSe0dyTvxlij6dKl_ZOAny-AF9Wl8RhMjLCLYwRoyfnOLNSlRPEQO-40CEJzRtkLgbp-VZaHBe-0anMg?width=1167&height=700&cropmode=none");
    grid-column: 4;
    grid-row: 3;
}

.thirteen {
    background-image: url("https://jwk3vg.bn.files.1drv.com/y4m0kD0T-MCzDR4MDBNyYf_rbY4_AfyJZeKMTH7GYTpYC0ic9ygFPsq0ykjFJdOyMJMEXB0IaYts6TqfvIpV0995BTOIL7hNGE0OG15jjC_WyxWL25PWUnvvgJdEmWk0zfb7OtI-316Xx-ZxwodFzaCCigN2m3_7a4dXwEAKhp23zdLxAsZa53VA8OjPaFvsGzq6u4b-H7B1nSRxk3oTMfODw?width=1050&height=700&cropmode=none");
    grid-column: 1;
    grid-row: 4;
}

.fourteen {
    background-image: url("https://nmxpuw.bn.files.1drv.com/y4muHxxwjJqCrt3K7M5uPM-V_QOeo5zkoCwhVMVV-roNjPWFBCqqjTMtSTuniVKW5HqwmPa1HgK9IqzeLXVE58oxub92-2Hu6GaEU1hnjjl7-Os11TRSqN3E5kFr0IXOUow8RNp6C3lorgQ7JJ2YAvvHMiXNcFpvhJDDyskZYPJ1Co89d0_IJ41U146JOF6QUowLRFHIu1j3c_xAVGQlInykA?width=1050&height=700&cropmode=none");
    grid-column: 2;
    grid-row: 4;
}

.fifteen {
    background-image: url("https://ahyadg.bn.files.1drv.com/y4moQKESGciPFvTPlis12Y_rwz2nsAqIMQuQuyaOYEttkX8-TK6RWhmTFctKqzhTER_x-kISzSn1JGRge2EvPoQvn2gFaKpriqRhJ5690ehdDCWvnBLPi7r8-LCgfZMK8MgTMYvB7XmV0N7gmW052Uu7wn7MDcfYCHGTX9ZYCZ5rBP_wh85eEsY0CbDo2Jyl_uu5GKkq7nX8gQJK6ULnmW74A?width=1050&height=700&cropmode=none");
    grid-column: 3;
    grid-row: 4;
}

.sixteen {
    background-image: url("https://ahyadg.bn.files.1drv.com/y4moQKESGciPFvTPlis12Y_rwz2nsAqIMQuQuyaOYEttkX8-TK6RWhmTFctKqzhTER_x-kISzSn1JGRge2EvPoQvn2gFaKpriqRhJ5690ehdDCWvnBLPi7r8-LCgfZMK8MgTMYvB7XmV0N7gmW052Uu7wn7MDcfYCHGTX9ZYCZ5rBP_wh85eEsY0CbDo2Jyl_uu5GKkq7nX8gQJK6ULnmW74A?width=1050&height=700&cropmode=none");
    grid-column: 4;
    grid-row: 4;
}

body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

.grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;

    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 1em;
}

.module {
    /* Demo-Specific Styles */
    /*background: #eaeaea;*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 200px;
}

/* If Grid is supported, remove the margin we set for the fallback */
@supports (display: grid) {
    .module {
        margin: 0;
    }
}

/* entire container, keeps perspective */
.flip-container {
    perspective: 1080px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 320px;
    height: 200px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}
