.component-button-panel {
    /*background-image: url("../images/cooking-ingredient-cuisine-kitchen.jpg");*/
    /*background-color: #858694;*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    width: auto;
    height: auto;
    /*flex-direction: row;*/
    /*flex-wrap: wrap;*/
    /*flex: 1 0 auto;*/
}

.component-button-panel > div {
    /*background-image: url("../images/pocket-watch-jewel-chain-stone-42315.jpeg");*/
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(25%, 1fr));
    width: 100%;
    height: auto;
    /*flex: 1 0 auto;*/
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.one {
    background-image: url("../images/cooking-ingredient-cuisine-kitchen.jpg");
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
}

.two {
    background-image: url("../images/pocket-watch-jewel-chain-stone-42315.jpeg");
    grid-column: 2;
    grid-row: 1;
}

.three {
    background-image: url("../images/horse-flange-horseback-riding-dressage.jpg");
    grid-column: 3;
    grid-row: 1;
}

.four {
    background-image: url("../images/pexels-photo-755049.jpeg");
    grid-column: 4;
    grid-row: 1;
}

.five {
    background-image: url("../images/pexels-photo-735837.jpeg");
    grid-column: 1;
    grid-row: 2;
}

.six {
    background-image: url("../images/pexels-photo-638453.jpeg");
    grid-column: 2;
    grid-row: 2;
}

.seven {
    background-image: url("../images/pexels-photo-618959.jpeg");
    grid-column: 3;
    grid-row: 2;
}

.eight {
    background-image: url("../images/pexels-photo-115145.jpeg");
    grid-column: 4;
    grid-row: 2;
}

.nine {
    background-image: url("../images/pexels-photo-167467.jpeg");
    grid-column: 1;
    grid-row: 3;
}

.ten {
    background-image: url("../images/pexels-photo-257366.jpeg");
    grid-column: 2;
    grid-row: 3
}

.eleven {
    background-image: url("../images/pexels-photo-357567.jpeg");
    grid-column: 3;
    grid-row: 3;
}

.twelve {
    background-image: url("../images/pexels-photo-358252.jpeg");
    grid-column: 4;
    grid-row: 3;
}

.thirteen {
    background-image: url("../images/pexels-photo-460461.jpeg");
    grid-column: 1;
    grid-row: 4;
}

.fourteen {
    background-image: url("../images/pexels-photo-279349.jpeg");
    grid-column: 2;
    grid-row: 4;
}

.fifteen {
    background-image: url("../images/pexels-photo-257366.jpeg");
    grid-column: 3;
    grid-row: 4;
}

.sixteen {
    background-image: url("../images/pexels-photo-167467.jpeg");
    grid-column: 4;
    grid-row: 4;
}
