@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.banner a {
    font-family: 'Open Sans', sans-serif;
    float: left;
    color: #D4541B;
    font-size: 54px;
    font-weight: 200;
    margin-top: 75px;
    margin-left: 50px;

    text-decoration: none;

    -webkit-transform: translate(0, 0);
    -webkit-transition: -webkit-transform 500ms;

    transform: translate(0, 0);
    transition: transform 500ms;
}

.banner a[onmousedown] {
    -webkit-transform: translate(100px, 100px);
    transform: translate(100px, 100px);
}