@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);


body {
    margin: auto;
}

.logo {
    width: 100%;
    height: 225px;
    background-color: #063651;
}

.logo a {
    font-family: 'Open Sans', sans-serif;
    float: left;
    color: #D4541B;
    font-size: 54px;
    font-weight: 200;
    margin-top: 75px;
    margin-left: 50px;
    text-decoration: none;
}

.logo a[onmousedown] {
    -webkit-transform: translate(100px, 100px);
    transform: translate(100px, 100px);
}