@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);

.signUp {
    position: absolute;
    top: 225px;
    left: calc(50% - 175px);
    font-family: 'Open Sans', sans-serif;
}

.signUp h1 {
    font-weight: 200;
    color: #063651;
    margin-bottom: 6px;
}

.signUp p {
    font-weight: 200;
    font-size: medium;
    color: #063651;
}

.signUp label {
    font-weight: 200;
    font-size: medium;
    color: #063651;
    padding-right: 8px;
}

.signUp input[type=text] {
    width: 350px;
    height: 35px;
    background: RGBA(212, 84, 27, 0.1);
    border: 1px solid RGBA(212, 84, 27, 1.00);
    border-radius: 5px;
    color: #063651;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-top: 8px;
}

.signUp input[type=email] {
    width: 350px;
    height: 35px;
    background: RGBA(212, 84, 27, 0.1);
    border: 1px solid RGBA(212, 84, 27, 1.00);
    border-radius: 5px;
    color: #063651;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-top: 8px;
}

.signUp input[type=password] {
    width: 350px;
    height: 35px;
    background: RGBA(212, 84, 27, 0.1);
    border: 1px solid RGBA(212, 84, 27, 1.00);
    border-radius: 5px;
    color: #063651;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-top: 8px;
}

.signUp input[type=date] {
    width: 170px;
    height: 35px;
    background: RGBA(212, 84, 27, 0.1);
    border: 1px solid #D4541B;
    border-radius: 5px;
    color: #063651;
    font-size: 18px;
    font-weight: 400;
    padding: 6px;
    margin-bottom: 8px;
}

.signUp input[type=radio] {
    margin-right: 8px;
}

.signUp input[type=submit] {
    border: 1px solid #D4541B;
    float: right;
    width: 170px;
    height: 35px;
    background: #D4541B;
    cursor: pointer;
    border-radius: 5px;
    color: ghostwhite;
    font-size: 18px;
    font-weight: 200;
    margin-top: 16px;
}

.signUp input[type=button] {
    border: 1px solid #063651;
    float: left;
    width: 170px;
    height: 35px;
    background: #063651;
    cursor: pointer;
    border-radius: 5px;
    color: ghostwhite;
    font-size: 18px;
    font-weight: 200;
    margin-top: 16px;
}

.signUp input[type=button]:hover {
    opacity: 0.8;
}

.signUp input[type=button]:active {
    opacity: 0.6;
}

.signUp input[type=submit]:hover {
    opacity: 0.8;
}

.signUp input[type=submit]:active {
    opacity: 0.6;
}

.signUp input[type=text]:focus {
    outline: none;
    border: 1px solid rgba(212, 84, 27, 0.8);
}

.signUp input[type=email]:focus {
    outline: none;
    border: 1px solid rgba(212, 84, 27, 0.8);
}

.signUp input[type=password]:focus {
    outline: none;
    border: 1px solid rgba(212, 84, 27, 0.8);
}

.signUp input[type=date]:focus {
    outline: none;
    border: 1px solid rgba(212, 84, 27, 0.8);
}

.signUp input[type=button]:focus {
    outline: none;
}

.signUp input[type=submit]:focus {
    outline: none;
}

.login {
    position: absolute;
    top: 15px;
    right: 16px;
    margin: auto;
}